<% provide(:title, 'Sign Up') %>
<% provide(:button_text, 'Create my account') %>

<article class="form-container">
  <h2 class="form-title"><%= yield(:title) %></h2>

  <%= render 'form', user: @user %>
</article>
<nav class="site-nav content-nav">
  <%= link_to 'Back', root_path, class: "site-link content-link" %>
</nav>