body {
  margin: 0;
  font-family: $primary-font;
}

.main-content {
  background-color: $grey;
}

/* ------------ header ------------ */
.site-header {
  background-color: $orange;
  padding: 2% 0 3%;
}

.title-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
}

.site-name {
  font-size: 48px;
  margin: 0;
}

@media screen and (min-width: 650px) {
  .site-header {
    height: 100px;
    padding: 0;
  }

  .title-card {
    float: left;
    width: 50%;
  }
}

/* ------------ footer ------------ */
.site-footer {
  background-color: $orange;
  font-family: $primary-font;
  color: $white;
  text-align: center;
  letter-spacing: 1px;
  padding: 5%;
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  .site-footer {
    padding: 15px;
    font-size: 16px;
  }
}

/* ------------ navigation ------------ */
.root-link {
  text-decoration: none;
  text-transform: lowercase;
  font-family: $primary-font;
  color: $white;
}

.site-nav {
  font-family: $primary-font;
  padding-bottom: 3%;
}

.center-nav {
  text-align: center;
}

.site-link {
  color: $white;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 1% 4% 1% 0;
}

.portfolio-link {
  margin: 0;
}

.content-nav {
  width: 75%;
  margin: 0 auto;
  padding: 5% 0 10%;
}

.content-link {
  color: $black;
}

@media screen and (max-width: 350px) {
  .site-link{ 
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  .site-nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    height: 100%;
  }

  .site-link {
    margin: 0 4% 25px 0;
  }

  .content-nav {
    padding: 25px 0 25px;
    display: block;
    width: 55%;
    padding-bottom: 50px;
  }

  .portfolio-link {
    margin: 0;
  }
}