body {
  margin: 0;
}

/* ------------ header ------------ */
.site-header {
  background-color: $flamingo;
  padding-top: 2%;
}

.title-card {
  display: flex;
  align-items: center;
}

.logo-container {
  width: 40%;
  text-align: right;
}

.logo {
  width: 60%;
}

.site-name-container {
  width: 60%;
  letter-spacing: 2px;
}

.site-name {
  font-size: 48px;
  margin: 0;
}

.root-link {
  text-decoration: none;
  text-transform: lowercase;
  font-family: $primary-font;
  color: $white;
}

.site-nav {
  font-family: $primary-font;
  text-align: center;
  padding-bottom: 3%;
}

.site-link {
  color: $white;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 1%;
}

@media screen and (max-width: 350px) {
  .site-link{ 
    font-size: 14px;
  }
}

/* ------------ footer ------------ */
.site-footer {
  background-color: $flamingo;
  font-family: $primary-font;
  color: $white;
  text-align: center;
  letter-spacing: 1px;
  padding: 2%;
  font-size: 14px;
}

.portfolio-link {
  margin: 0;
}