/* ------------ fonts ------------ */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Saira');
$primary-font: 'Montserrat', sans-serif;
$header-font: 'Saira', sans-serif;


/* ------------ colors ------------ */
$flamingo: #f26522;
$white: #fff;
