/* ------------ fonts ------------ */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Saira');
$primary-font: 'Montserrat', sans-serif;


/* ------------ colors ------------ */
$red: #A31621;
$light-red: #EEE4E1;
$orange: #f26522;
$green: #0C7C59;
$light-green: #BBE1C3;
$white: #fff;
$grey: #DADAD9;
$black: #000500;
