.form-container {
  width: 75%;
  margin: 0 auto;
  color: $black;
}

.form-title {
  margin-top: 0;
  padding-top: 10%;
}

.field {
  font-size: 18px;
  margin-bottom: 5%;
}

.label {
  display: inline-block;
  margin-bottom: 2%;
}

.input {
  padding: 3%;
  border-radius: 5px;
  width: 90%;
  background-color: $white;
  border: none;
  display: block;
}

.input:not([type=submit]) {
  font-family: $primary-font;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.2;
}

.text-area-input {
  height: 150px;
}

.button {
  color: $white;
  background-color: $orange;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 3%;
  margin: 2% 0;
}

.check-box-label {
  width: auto;
}

.site-nav-message {
  letter-spacing: 1px;
}

.gravatar-edit {
  margin: 5% 0;
}

.gravatar-link {
  margin-top: 2%;
  display: block;
}

.new-comment-form {
  padding: 5% 0;
}

@media screen and (min-width: 600px) {
  .form-container {
    width: 55%;
  }

  .form-title {
    padding-top: 25px;
    margin-bottom: 25px;
  }

  .field {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .label {
    margin-bottom: 25px;
  }

  .input {
    padding: 10px;
  }

  .text-area-input {
    height: 150px;
  }

  .button {
    padding: 10px;
    margin: 0 0 25px;
  }

  .remember-me-label {
    margin: 0;
  }

  .check-box-label {
    margin: 0;
  }
}