.posts {  
  background-color: #DADAD9;
}

.post {
  width: 75%;
  margin: 2% auto 10%;
  color: $black;
  font-family: $primary-font;
  padding-bottom: 5%;
  border-bottom: 3px solid $white;
}

.post:first-child {
  margin-top: 5%;
}

.post:last-child {
  margin-bottom: 5%;
  border: none
}

.post-title {
  margin-top: 0;
  font-size: 18px;
  letter-spacing: 1.2px;
}

.post-link {
  color: $black;
}

.post-byline {
  font-size: 14px;
  color: $orange;
  letter-spacing: 1px;
}

.post-author {
  color: $black;
}
