.show-wrapper {
  width: 75%;
  margin: 0 auto;
}

.show-title {
  margin-top: 0;
  padding-top: 5%;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.show-content {
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 1.3
}
