<footer class="site-footer">
  <p class="byline">Reddit Clone © <%= link_to "Bison Hubert", "http://bisonhubert.com", target: "_blank", rel: "noopener", class: "site-link portfolio-link" %> 2017</p>
</footer>